@font-face {

}

.parent {
    -fx-background-color: #fff;
}

.sidebar {
    -fx-background-color: #325288;
}

.HomeLbl {
    -fx-font-family: 'Adobe Devanagari';
}

.jfxButton {
    -fx-background-color: #325288;
    -fx-text-fill: #FFF;
}

.jfxButton:hover {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-text-fill: #325288;
    -fx-border-color: #325288;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
}

.jfxButton:focused:hover {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-text-fill: #325288;
    -fx-border-color: #325288;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
}


.closeBtn {
    -fx-background-color: #325288;
}

.closeBtn:hover {
    -fx-background-color: #f17b7b;
}
.minus:focused{
    -fx-background-color: #325288;
}

.aboutUsBtn {
    -fx-fill: #FFF;
}

.aboutUsBtn:hover {
    -fx-fill: #f1c64e;
}

.backBtn {
}

.backBtn:hover {
    -fx-background-color: #21365b;
}


.editableText-field {
    -fx-background-color: -fx-text-box-border, -fx-background, #fcfdff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.editableText-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}
